
body {
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #fff;
  color: #546678;
  font-size: 100%;
}

.header .social {
  margin-top: 15px;
  text-align: center;
}

.header .social .item {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #8899a6;
  letter-spacing: .825rem;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  display: inline;
}

.header .heading {
  text-align: center;
  margin-top: 15px;
  font-size: 1.875rem;
  line-height: .8;
  text-transform: uppercase;
  letter-spacing: .125rem;
}

.grid-sizer,
.grid-item { 
  width: 250px; 
  margin-bottom: 0px;
  border: 0px;
}
/* 2 columns wide */
.grid-item--width2 { width: 500px; }